<section class="new">
  <%= form_for @articles do |f| %>
    <% if @articles.errors.any? %>
      <div id="errors">
        <h2><% pluralize(@articles.errors.count, "error")%> Prevented this post from saying
        </h2>
        <ul>
          <% @articles.errors.full_messages.each do |msg|%>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= f.text_field :title , placeholder:"title" %><br>
    <%= f.text_area :body, placeholder: "body" %><br>
    <%= f.file_field :image %><br>
    <%= f.submit value:'投稿' %>
  <% end %>
</section>